@model Quick_Med_Kit.Models.Medicament

@{
    ViewBag.Title = "Modifier";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code_Medicament)

        <div class="form-group text-center">
            @Html.LabelFor(model => model.Code_Medicament, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 text-center" style="padding-left:200px">
                @Html.EditorFor(model => model.Code_Medicament, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code_Medicament, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-center">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 text-center" style="padding-left:200px">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-left:200px">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Production, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-left:200px">
                @Html.EditorFor(model => model.Date_Production, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_Production, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_expiration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-left:200px">
                @Html.EditorFor(model => model.Date_expiration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_expiration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Droit_Usage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-left:200px">
                @Html.EditorFor(model => model.Droit_Usage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Droit_Usage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-left:200px">
                @Html.EditorFor(model => model.Prix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prix, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.upload_images, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding-left:200px">
                @Html.EditorFor(model => model.upload_images, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.upload_images, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="padding-left:200px">
                <input type="submit" value="Modifier" class="btn btn-default" style="background-color:white" /> | @Html.ActionLink("Retourne au liste des Médicaments", "Index")
            </div>
        </div>
    </div>
}
