@model Quick_Med_Kit.Models.Livreur

@{
    ViewBag.Title = "ModifierProfil";
    Layout = "~/Views/LayoutLivreur.cshtml";
}
<style>
    table{
        margin-left:420px;
        margin-top:30px;
    }
</style>
<h1 style="color:white;text-decoration:underline">Modifier Profil</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_Livreur)
        <div class="form-group">
            <table>
                <tr>
                    <td><label style="color:white">Nom :</label> </td>
                    <td>
                        @Html.EditorFor(model => model.Nom_Livreur, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Nom_Livreur, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td><label style="color:white">Prénom :</label> </td>
                    <td>
                        @Html.EditorFor(model => model.Prenom_Livreur, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Prenom_Livreur, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td><label style="color:white">CIN :</label> </td>
                    <td>
                        @Html.EditorFor(model => model.CIN, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.CIN, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td><label style="color:white">Email :</label> </td>
                    <td>
                        @Html.EditorFor(model => model.Email_Livreur, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Email_Livreur, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td><label style="color:white">Téléphone :</label> </td>
                    <td>
                        @Html.EditorFor(model => model.telephone_Livreur, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.telephone_Livreur, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td><label style="color:white">Age :</label> </td>
                    <td>
                        @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group">
            <table>
                <tr>
                    <td><label style="color:white">Mot De Passe :</label> </td>
                    <td>
                        @Html.EditorFor(model => model.Pswrd_telephone_Livreur, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Pswrd_telephone_Livreur, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>
        <br/>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Modifier" class="btn btn-default" style="color:black;background-color:white" /> | @Html.ActionLink("Retourner au Profil", "Profil")
        </div>
    </div>
}
