@model Quick_Med_Kit.Models.Livreur

@{
    ViewBag.Title = "Infos Profil";
    Layout = "~/Views/LayoutLivreur.cshtml";
}

<div class="row">
    <div class="col-md-9">
        <h1 style="color:white;text-decoration:underline">Infos Profil</h1>
    </div>
    <div class="col-md-3">
        <label style="font-size:25px">Status : </label>&nbsp;&nbsp;<input type="button" id="status" value="Offline" onclick="status()" style="background-color:none;color:red" />
    </div>
</div>
<div>
    <table style="width:100%;height:250px;color:white;margin-top:30px">
        <tr style="border-bottom:2px solid gray">
            <td>Nom :&nbsp;&nbsp;@Html.DisplayFor(model => model.Nom_Livreur)</td>
            <td rowspan="7">
                <a class="nav-link px-2" href="@Url.Action("Supprimer","Livreur",new { id = @Session["id_livreur"] })"><i class="material-icons icon" style="font-size: 40px;">delete</i></a>
            </td>
            <td style="color: white;" rowspan="7">|</td>
            <td rowspan="7">
                <a class="nav-link px-2" href="@Url.Action("ModifierProfil","Livreur",new { id = @Session["id_livreur"]  })"><i class="material-icons icon" style="font-size: 40px;">edit</i></a>
            </td>
        </tr>
        <tr style="border-bottom:2px solid gray">
            <td>Prénom :&nbsp;&nbsp;@Html.DisplayFor(model => model.Prenom_Livreur)</td>
        </tr>
        <tr style="border-bottom:2px solid gray">
            <td>CIN :&nbsp;&nbsp;@Html.DisplayFor(model => model.CIN)</td>
        </tr>
        <tr style="border-bottom:2px solid gray">
            <td>Email :&nbsp;&nbsp;@Html.DisplayFor(model => model.Email_Livreur)</td>
        </tr>
        <tr style="border-bottom:2px solid gray">
            <td>Téléphone :&nbsp;&nbsp;@Html.DisplayFor(model => model.telephone_Livreur)</td>
        </tr>
        <tr style="border-bottom:2px solid gray">
            <td>Age :&nbsp;&nbsp;@Html.DisplayFor(model => model.age)</td>
        </tr>
        <tr style="border-bottom:2px solid gray">
            <td>Mot De Passe :&nbsp;&nbsp;@Html.DisplayFor(model => model.Pswrd_telephone_Livreur)</td>
        </tr>
    </table>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function status() {
            $.ajax({
                type: "post",
                url: "/Livreur/Status",
                data: { 'idliv': '@Session["id_livreur"]' },
                success: function (msg) {
                    if (msg == "En Ligne") {
                        document.getElementById("status").style.color = "green";
                    }
                    else if (msg == "Offline") {
                        document.getElementById("status").style.color = "red";
                    }
                    document.getElementById("status").value = msg;
                }
            });
        }
    </script>
</div>
